### Loading the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
bigmart = pd.read_csv('train_bm.csv')

In [6]:
data = bigmart[['Item_Visibility', 'Item_MRP']]
data.head()

   Item_Visibility  Item_MRP
0         0.016047  249.8092
1         0.019278   48.2692
2         0.016760  141.6180
3         0.000000  182.0950
4         0.000000   53.8614

## Min Max Scaler

<img src = "min max formula.png">

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Item_Visibility', 'Item_MRP'])
scaled_data.head()

   Item_Visibility  Item_MRP
0         0.048866  0.927507
1         0.058705  0.072068
2         0.051037  0.468288
3         0.000000  0.640093
4         0.000000  0.095805

In [12]:
scaled_data.describe()

       Item_Visibility     Item_MRP
count      8523.000000  8523.000000
mean          0.201382     0.465635
std           0.157123     0.264327
min           0.000000     0.000000
25%           0.082187     0.265437
50%           0.164228     0.474209
75%           0.288026     0.655156
max           1.000000     1.000000

## Standard Scaler

<img src = "standard scaler formula.png">

In [13]:
from sklearn.preprocessing import StandardScaler

In [22]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Item_Visibility', 'Item_MRP'])
scaled_data.head()

   Item_Visibility  Item_MRP
0        -0.970732  1.747454
1        -0.908111 -1.489023
2        -0.956917  0.010040
3        -1.281758  0.660050
4        -1.281758 -1.399220

In [23]:
scaled_data1=scaled_data*scaled_data
scaled_data1.head()

   Item_Visibility  Item_MRP
0         0.942321  3.053595
1         0.824666  2.217190
2         0.915691  0.000101
3         1.642903  0.435665
4         1.642903  1.957816

In [24]:
scaled_data1.describe()

       Item_Visibility      Item_MRP
count     8.523000e+03  8.523000e+03
mean      1.000000e+00  1.000000e+00
std       1.917860e+00  1.053650e+00
min       3.874491e-08  3.459299e-08
25%       1.310516e-01  1.601315e-01
50%       4.847876e-01  5.460974e-01
75%       1.130321e+00  1.769511e+00
max       2.583740e+01  4.087368e+00